* {
  font-family: "Noto Sans KR";
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

/* header, main, footer 넓이 제한을 위한 박스 */
.content-container {
  max-width: 1200px;
  margin: auto;

  background-color: #0002;
  font-size: 24px;
  padding: 25px;
}

/* 상단 영역 */
.header {
  box-shadow: 0 1px 3px #0003;

  background-color: #f063;
}

/* 내용 영역 */
.main {
  background-color: #f603;
}

/* 하단 영역 */
.footer {
  border-top: 1px solid #dddddd;

  background-color: #06f3;
}
